<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table th:border="2">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>lastName</th>
        <th>password</th>
        <th>role</th>
    </tr>
    <tr th:each = "user : ${getall}">
        <td th:utext = "${user.id}">id</td>
        <td th:utext = "${user.name}">name</td>
        <td th:utext = "${user.lastName}">lastName</td>
        <td th:utext = "${user.password}">password</td>
        <td th:each="role : ${user.getAuthorities()}" th:text="${role.getAuthority().toString()}">role</td>

        <td><a th:href="@{/admin/{id}/user-update(id=${user.getId()})}">Update</a></td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete">
            </form>
        </td>
        </tr>
</table>
<p><a href="/admin/new">Create User</a></p>
<br/>
<br/>
<td>
    <form th:action="@{/logout}">
        <input type="submit" value="Logout">
    </form>
</td>
</body>
</html>