<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello user</title>
</head>
<body>
<h1>User</h1>

<table border="1">
   <tr>
       <th>Id</th>
       <th>Name</th>
       <th>LastName</th>
       <th>Password</th>
       <th>Role</th>
   </tr>
    <td th:text="${user.getId()}">VALUE</td>
    <td th:text="${user.getName()}">VALUE</td>
    <td th:text="${user.getLastName()}">VALUE</td>
    <td th:text="${user.getPassword()}">VALUE</td>
    <td th:each="role: ${user.getAuthorities()}"><p th:text="${role.getAuthority().toString()}"></p></td>
</table>
<br/>
<br/>
<td>
    <form th:action="@{/logout}">
        <input type="submit" value="Logout">
    </form>
</td>
</body>
</html>